.footer {
    background-color: #0000000e;
    margin: 0px auto;
    padding: 20px 0px;
    color: rgb(79, 139, 192);
 }


  
#banner{
    background-image: url(back.jpeg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.jumbotron {
    margin: 0px auto;
    padding: 70px 30px;
    background: #9575CD;
    color: floralwhite; }

#mycar{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}

.navbar-dark{
    background-color: black;
}

.row-header {
    margin: 0px auto;
    padding: 20px 0px; 
}
  
.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px; 
}
  
  
address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f; 
}
  
body {
    padding: 50px 0px 0px 0px;
    z-index: 0; 
    background-color: rgb(244, 233, 243)
}
  

  
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px; 
}
  

.carousel .carousel-item {
    height: 600px; 
}

.carousel .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px; 
}
  

  
.modal-header {
    background-color: #512DA8; 
}
.modal-header .modal-title {
    color: floralwhite; 
}
.modal-header .close {
    color: floralwhite; 
}
  
.modal-body {
    background-color: #D1C4E9; 
}
